doctype html
html(lang="ko")
  head
    title="App for Practice"
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    meta(charset="UTF-8")
    meta(name="keywords", content="Youtube, nico, practice, app, Javascript")
    meta(name="description", content="An app for practicing JS, NodeJS, etc.")
    meta(name="author", content="wood")
    // meta(http-equiv="refresh", content="50")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    include ../partials/header
    main
      block content
    include ../partials/footer