extends base

block content
    form(action="/read", method="POST", enctype="multipart/form-data")
        input(type="file", value="", placeholder="Upload text file", name="file")
        input(type="submit", value="Choose File")
        input(type="submit", value="Convert!")

    if list
        //show list
    else
        p="please upload txt file"