extends templates/layout

block content
  if err
    p=err

  form(method="POST" enctype="multipart/form-data")
    input(placeholder="Name", name="name", type="text", required)
    input(placeholder="Username", name="username", type="text", required)
    input(placeholder="Password", name="password", type="password", required)
    input(placeholder="Confirm Password", name="password2", type="password", required)
    input(type='file' name='photo')
    input(type="submit", value="Join")