extends templates/layout

block content
  form(method="post")
    input(placeholder="Enter Username", type="text", name="username", value="")
    input(placeholder="Enter Password", type="text", name="password", value="")
    input(type="submit", value="Login!")