extends templates/layout

block content
  form(method="post")
    input(placeholder="Enter Username", type="text", name="username", value="", required=true)
    input(placeholder="Enter Password", type="text", name="password", value="", required=true)
    input(type="submit", value="Login!")