extends layout/layout

block content
    h2="see.pug it is"
    
    each movie in allMovies
        h2
            a(href=`/movies/${movie._id}`)=movie.name
    else
        p="Please create movies!"

    hr

    form(action="/movies/search")
        div
            label(for="word") Word for Search: 
            input(type="text", name="word", value="")
            input(type="submit", value="Search!")    
    