extends layout/layout

block content
    h2="see.pug"
    
    ul
        each movie in allMovies
            li: a(href="/movies/"+movie._id)=movie.name 
            // "/movies/${movies._id} 이런 식으로 하려면?"
        