extends templates/layout

block content
  form(method="POST")
    input(type="text", placeholder="title", name="title", value="")
    input(type="text", placeholder="synopsis", name="synopsis", value="")
    input(type="text", placeholder="genres", name="genres", value="")
    input(type="submit", value="Upload")